<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
  integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous" />

<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" type="text/css"
  rel="stylesheet" />

<!-- Toolbar -->
<div class="content" role="main">
  <div class="login" *ngIf="!isLoggedIn">
    <h2 class="title">Login to Chat</h2><br>
    <form id="login-form">
      <div class="form-group">
        <label for="username">Email</label>
        <input type="text" class="form-control" id="text" name="username" [(ngModel)]="email" placeholder="Email" />
        <br>
        <label for="password">Password</label>
        <input type="password" class="form-control" id="text" name="password" [(ngModel)]="password"
          placeholder="Password" />
      </div>
      <button type="button" class="btn btn-primary" (click)="login()">Submit</button>
    </form>
  </div>

  <div class="container" *ngIf="isLoggedIn">
    <h3 class=" text-center">O2OConversations</h3>
    <div class="messaging">
      <div class="inbox_msg">

        <div class="inbox_people">
          <div class="headind_srch">
            <div class="channel_heading">
              <h4>Created</h4>
            </div>
            <button type="button" style="float: right;" class="btn btn-secondary" (click)="showCreateConForm()">Create
              New</button>
          </div>
          <div class="inbox_chat">
            <div class="channels">
              <div class="chat_list" *ngFor="let conversation of conversationsOfOwner">
                <div class="chat_people">
                  <div class="chat_ib">
                    <h5>
                      {{conversation.title}}
                      <div class="btn-group" role="group" style="float: right;" aria-label="Basic example">
                        <button type="button" class="btn btn-primary btn-sm" (click)="messagesClick(conversation)">View
                          Messages</button>
                        <button type="button" class="btn btn-light btn-sm"
                          (click)="membersClick(conversation)">More</button>
                      </div>
                    </h5>

                  </div>

                </div>
              </div>
            </div>
            <div class="headind_srch">
              <div class="channel_heading">
                <h4>Member</h4>
              </div>
            </div>
            <div class="chat_list" *ngFor="let conversation of conversationsOfMember">
              <div class="chat_people">
                <div class="chat_ib">
                  <h5>
                    {{conversation.title}}
                    <div class="btn-group" style="float: right;" role="group" aria-label="Basic example">
                      <button type="button" class="btn btn-primary btn-sm" (click)="messagesClick(conversation)">View
                        Messages</button>
                    </div>
                  </h5>

                </div>
              </div>
            </div>
          </div>

        </div>

        <div [ngClass]="decideClass()" *ngIf="!showCreateConversation && !showMembersScreen && isInit">
          <div class="msg_history">
            <li class="message" *ngFor="let message of messages">
              <div *ngIf="
              message.person_id !== loggedInUserId;
              then incoming_msg;
              else outgoing_msg
            "></div>
              <ng-template #incoming_msg>
                <div class="incoming_msg">
                  <div class="incoming_msg_img">
                    {{message.person.name}}
                  </div> <br>
                  <div class="received_msg">
                    <div class="received_withd_msg">
                      <p>{{message.body}}</p>
                      <br>
                    </div>
                  </div>
                </div>
              </ng-template>
              <ng-template #outgoing_msg>
                <div class="outgoing_msg">
                  <div class="sent_msg">
                    <button type="button" class="btn btn-secondary btn-sm" style="float: right;"><i class="fa fa-trash"
                        aria-hidden="true" (click)="deleteMessage(message)"></i></button>
                    <p>{{message.body}} </p>
                  </div>
                </div>
              </ng-template>
            </li>
          </div>
          <div class="type_msg">
            <form class="input_msg_write">
              <input type="text" class="write_msg" placeholder="Type a message" [(ngModel)]="messageText"
                name="newMessage" />
              <button class="msg_send_btn" type="button" (click)="createMessage()">
                <i class="fa fa-paper-plane-o" aria-hidden="true"></i>
              </button>
            </form>
          </div>
        </div>


        <div class="create_con" *ngIf="showCreateConversation">
          <div class="msg_history">
            <div class="creat_con_form">
              <h2 class="title">Create New Conversation</h2><br>
              <form id="login-form">
                <div class="form-group">
                  <div>
                    <label for="username">Title </label>
                    <p style="float: right; color: red;" *ngIf="isTitleEmpty">Title Field Cannot Be Empty</p>
                  </div>
                  <input type="text" class="form-control" id="text" name="username" [(ngModel)]="conTitle"
                    placeholder="Title of the conversation" />
                </div>
                <button type="button" class="btn btn-success" (click)="nextAddPeople()">Create</button>
                <button type="button" style="float: right;" (click)="cancelConForm()" class="btn btn-secondary"
                  (click)="hideConForm()">Cancel</button>
              </form>
            </div>
          </div>
        </div>

        <div class="add_people" *ngIf="showMembersScreen">
          <h2 class="title">Conversation Members</h2><br>
          <div class="msg_history">
            <ul class="list-group">
              <li class="list-group-item" *ngFor="let member of membersOfACon">{{member.name}}

                <button type="submit" style="float: right;" class="btn btn-warning btn-sm"
                  (click)="removePerson(member.id)" *ngIf="loggedInUserId!=member.id">Remove</button>
              </li>

            </ul><br>
            <button type="submit" style="float: left;" class="btn btn-danger"
              *ngIf="loggedInUserId==selectedCon.owner_id" (click)="deleteCon()">Delete This
              Conversation</button>
            <button type="submit" style="float: right;" class="btn btn-primary"
              (click)="cancelConForm()">Cancel</button>
          </div>
        </div>


        <div class="people_list" *ngIf="showPeople && showMembersScreen">
          <div class="headind_srch">
            <div class="channel_heading">
              <h4>People</h4>
            </div>
          </div>
          <div class="inbox_chat">
            <div class="channels">
              <div class="chat_list" *ngFor="let person of people">
                <div class="chat_people">
                  <div class="chat_ib">
                    <h5>
                      {{person.name}} <button type="button" style="float: right;" class="btn btn-success btn-sm"
                        (click)="addPerson(person.id)">Add
                        Person</button>
                    </h5>
                    <p>
                      {{person.email}}
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>


        <!-- add memebers -->
        <!-- <div class="people_list">
          <div class="headind_srch">
            <div class="channel_heading">
              <h4>People</h4>
            </div>
          </div>
          <div class="inbox_chat">
            <div class="channels">
              <div class="chat_list">
                <div class="chat_people">
                  <div class="chat_ib">
                    <h5>
                      fdfdfdf
                    </h5>
                    <p>
                      fdfdfdf
                    </p>
                  </div>
                </div>
              </div>
              <div class="chat_list">
                <div class="chat_people">
                  <div class="chat_ib">
                    <h5>
                      Jim
                    </h5>
                    <p>
                      fdfdfdf
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div> -->
      </div>
    </div>
  </div>
</div>